body {
  margin: 0;
  padding: 0;
}

.marker {
  background-image: url("https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background: #1d1b34 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px !important;
  border: #fffaf618 1px solid;
}

.mapboxgl-popup-content h3 {
  color: #fffaf6;
  margin: 0;
  display: block;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 700;
}

.mapboxgl-popup-content p {
  color: #fffaf6;
  margin: 0;
  display: block;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
}

.mapboxgl-popup-close-button {
  color: #fffaf6;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #282646 !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #282646 !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #282646 !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #282646 !important;
}
